*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 5rem;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.navlink{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.white{
    color: white;
    margin-left: 2rem;
}
header img{
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 70rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

header ul{
    display: flex;
    flex-direction: row;
}

header li{
    margin-left: 2rem;
}

.section1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 27rem;
    background-color: #ffcdd2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-1{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.section1 h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}

.section1 p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.caption{
    font-size: 0.68rem;
    margin-top: 2rem;
}
.span1-link{
   color: black;
}
.section-links{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.main-link{
    text-decoration: none;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    color: black;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
.bg-black{
    background-color: black;
    color: white;
}
.section2{
    background-color: #f8f8f8;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 h1{
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
}
.section2 p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.section2-button{
    width: 8.5rem;
}
.section2-dowloadbutton{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.section2-caption{
    max-width: 41rem;
    font-size: 0.64rem;
    text-align: center;

}
.section3{
    background-color: #ffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3 h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
}
.section3-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
} 
.section3 ul{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.section3 img{
    width: 8rem;
    padding-bottom: 1rem;
}
.section3 b{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.65rem;
    font-weight: 700;
}
.section3 p{
    font-size: 0.8rem;
}
.section4{
    background-color: #f8f8f8;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 43.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 h1{
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}
.section4 p{
    font-size: 0.9rem;
    font-weight: 500;
}
.section4 .plans{
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plan{
    padding: 0.6rem;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.plan-top{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plan .offer {
    width: fit-content;
    background-color: #2e77d0;
    padding: 0.2rem 0.4rem 0.2rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: white;
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
}
.plan .desc{
    font-size: 0.9rem;
    padding-top: 0.4rem;
    padding-bottom:1.3rem;
}
.section4 hr{
   margin-top: 0.4rem;
}
.plan .description {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.ben-list{
    font-size: 0.9rem;
}
.plan .description a {
    align-self: center;
    padding: 0.6rem;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 90%;
    border-radius: 25px;
    font-weight: bold;
}
.description ul {
    padding-top: 0.6rem;
    list-style: none;
}
.plan .description li {
    margin-bottom: 0.5rem;
}
.description img{
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}
.plan-bot{
    padding: 0.3rem;
    font-size: 0.6rem;
    text-align: justify;
}
.plan-bot a{
    color: black;
}
.section5{
    background-color: #f8f8f8;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section5 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 h1{
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}
.section5 p{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 2.5rem;
}
.section5 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 ul li {
    width: 1100px;
    background-color: white;
    margin-bottom: 0.3rem;
}
.section5 .ques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}
.section5 h3 {
    font-size: 1.1rem;
    font-weight: 700;
}
.section5 li img {
    width: 1.2rem;
    transform: rotate(deg);
}
.section5 .ans {
    padding: 1.5rem;
    font-size: 0.9rem;
}
footer {
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top .spotify img{
    width: 9rem;
}
footer .main-content {
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .main-content h5 {
    color: grey;
    font-size: 0.8rem;
    font-weight: 700;
}
footer .main-content ul {
    list-style: none;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
footer .main-content ul li {
    margin-top: 1.5rem;
}
footer .social-media {
    width: 18rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer .social-media ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
footer .social-media ul li {
    margin-right: 1rem;
}
footer .social-media .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #222326;
    color: white;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.insta {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat url(./images/insta.svg),currentColor;
}
.twitter {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat url(./images/twitter.svg),currentColor;
}
.fb {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat url(./images/fb.svg),currentColor;
}
footer .country {
    padding: 0.9rem;
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    color: grey;
}
footer .links {
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: grey;
}
footer .links a {
    margin-right: 1rem;
}

